<style>
#ooopz{
	font-family: Purisa;
	font-size: 35px;
	font-weight: bold;
	text-shadow: rgba(17, 17, 17, 0.5) 1px 1px 1px;	
	color: rgba(239, 76, 62, 0.8);}
</style>
<div id='fog'>
<img src="/assets/images/squirrel.png" height="300px;" width="300px;" style='position:absolute; top: 10%;left:35%'>
<div style='position:absolute; top:55%;left:15%;'> 
<span id='ooopz'>403 - Yikes!</span>&nbsp;&nbsp;<span class= 'explanation'>Access denied. You shouldn't try to hack my application;)</span><br>
<span class='explanation'></span><br><br>
</div>
</div>