<div id='fog'>
<img src="/assets/images/squirrel.png" height="300px;" width="300px;" style='position:absolute; top: 10%;left:35%'>
<div style='position:absolute; top:55%;left:15%;'> 
<span id='ooopz'>404 - Ooopz!</span>&nbsp;&nbsp;<span class= 'explanation'>Looks like you were searching for a page that doesn't exist.</span><br>
<span class='explanation'>In order to lend to the Awesome #TODO homepage, follow the below link:</span><br><br>
<%= link_to 'http://localhost:3000/todo', todo_active_tasks_path, id: 'link_to_homepage'%>
</div>
</div>