<div style='color:rgba(17,17,17,0.8);font-family: purisa;font-weight:bold;background:rgba(62,187,135,0.3);box-shadow: rgba(17, 17, 17, 0.5) 1px 1px 1px;' ><span>Dear <span><%=@user_email%></span>, You have successfully registered!</span><br><br>
<span> To sign into your #TODO list, follow the link: <span><%=@url%></span></span><br>
<span>If you have any questions or difficulties while using #TODO, do not hesitate to contact me: <span><%=@admin_email%></span> </span><br><br>
<span>Thank you:)</span>
</div>