<div><span>Dear <%=@user_email%>, You have successfully registered!</span><br><br>
<span> To sign into your #TODO list, follow the link: <%=@url%></span><br>
<span>If you have any questions or difficulties while using #TODO, do not hesitate to contact me: <%=@admin_email%> </span><br><br>
<span>Thank you:)</span>
</div>