<%#for view last records i add the awesome clock icon%>
<div>
<select id= 'elapsed_time' onchange = "apply_time_filter($(this).find('option:selected').text())">
<%@time_filter.each do |opt|%>
<option <%='selected=selected' if opt == @default_option%>><%= opt.id2name %></option>
<%end%>
</select> 

<select id= 'priority_set' onchange = "apply_priority_filter($(this).find('option:selected').text())">
<option></option>
<%@priorities.each do |opt|%>
<option><%= opt.id2name %></option>
<%end%>
</select>
</div>

<div id='to-be-removed-by-filter-selection'>
<% if @tasks == nil %>
<p>No record fetched</p>
<%else%>
<%= render 'tasks_grid', locals: {tasks: @tasks} %>
<%end%>
</div>