
jQuery -> 
	### on-click EDIT button handler ### 
	@trigger_on_edit = trigger_on_edit=(task_id, dropdown,obj)->
		$('div#description' + task_id).attr('contenteditable','true')
		
		$('div#priority' + task_id).replaceWith('<select><option>' + 
			'high</option><option>medium</option>' + 
			'<option>low</option></select>')
		$('div#status' + task_id).replaceWith('<select><option>open</option>' +
			'<option>in progress</option></select>')
			 
		$('tr.' + task_id).removeAttr('onmouseout')
		$(obj).attr('disabled','disabled')
		$('.okay' + task_id).show()
		$('#' + dropdown).show()
		
	### on-click OK button handler ###
	@trigger_on_ok = trigger_on_ok = (obj, task_id, dropdown)->
		$('div#description' + task_id).attr('contenteditable','false')
		
		description = $('div#description' + task_id).text()
		priority = $('select :selected').slice(1,2).text()
		status = $('select :selected').slice(2,3).text() 
		
		$('select').slice(1,2).replaceWith('<div>' + priority + '</div>') 
		$('select').slice(1,2).replaceWith('<div>' + status + '</div>')
		
		$(obj).hide()
		$('#'+ dropdown).hide()

		### HERE WE HAVE TO ADD ONMOUSEOUT SCRIPT CALL AGAIN TO MAKE ICON SYMBOLS DISSAPEAR OR APPLY ANY OTHER METHOD TO DO IT ###      

		$.ajax({
  		type: "POST",
  		url: "http://localhost:3000/todo/active_tasks/update_task",
  		data: { id: task_id, description: description, priority: priority, status: status }}).done(()-> alert 'Task has been updated;)')


	### on-click CANCEL button handler ###
	@trigger_on_cancel = trigger_on_cancel = (obj, task_id)->
		injection = $(obj).attr('id') + '_span'
		
		description_id = 'description' + injection
		priority_id = 'priority'+ injection
		status_id = 'status' + injection

		desc_text = document.getElementById(description_id).textContent
		drop_text_1 = document.getElementById(priority_id).textContent
		drop_text_2 = document.getElementById(status_id).textContent

		$('div#description' + task_id).attr('contenteditable','false')
		
		$('div#description' + task_id).replaceWith('<div>'+desc_text+'</div>')
		$('select').slice(1,2).replaceWith('<div>'+drop_text_1+'</div>')
		$('select').slice(1,2).replaceWith('<div>'+drop_text_2+'</div>')
		
		$(obj).hide()
		$('.okay' + task_id).hide()

	### show ACTIONS that can be applied on a task ###	
	@show_actions = show_actions = (task_id)->
		$('.' + task_id + '_action').show()
		$('.pipe' + task_id).show()

	### hide ACTIONS that can be applied on a task ###		
	@hide_actions = hide_actions = (task_id)->
		$('.' + task_id + '_action').hide()
		$('.pipe' + task_id).hide()


	### emphasize the concrete task onhover and turn it back to normal on unhover###	
	@bold = bold =(obj)->
		$(obj).find('.items').css('font-weight', 'bold')	
	@unbold=unbold=(obj)->
		$(obj).find('.items').css('font-weight', 'lighter')

	### show HEADERS ###
	@show_header = show_header = (header_id)->
		$(header_id).removeAttr('hidden')

	### hide HEADERS ###
	@hide_header = hide_header = (header_id)->
		$(header_id).attr('hidden', 'true')

	### on-unfocus DESCRIPTION handler ###
	@set_noneditable = set_noneditable =(obj)->  
		$(obj).attr('contenteditable','false')




