root = exports ? this

do carousel = -> 
	$(document).ready(()->
		$('#mycarousel').jcarousel()	
		$('div.jcarousel-prev').text("❰")	
		$('div.jcarousel-next').text("❱") 
	)	
	
do tooltips = ->
	$(document).ready(()->		 
		$('.jcarousel-next, .jcarousel-prev, .add_me, #new_priority, #complete_for_checkbox, #delete_for_checkbox, #reopen_for_checkbox, th#delete, th#edit').attr('rel','tooltip')
			
		$('div.jcarousel-prev').attr('title', $('span#active_tasks').data('locales')) if $('div.jcarousel-prev').is(':disabled') is true
		$('div.jcarousel-next').attr('title', $('span#completed_tasks').data('locales')) if $('div.jcarousel-next').is(':disabled') is false
		$('.add_me').attr('title', $('span#add_new_task').data('locales'))
		$('#new_priority').attr('title', $('span#select_priority').data('locales'))
		$('div#complete_for_checkbox').attr('title', $('span#complete_marked_items').data('locales'))
		$('div#delete_for_checkbox').attr('title', $('span#delete_marked_items').data('locales'))
		$('div#reopen_for_checkbox').attr('title', $('span#reopen_marked_items').data('locales'))
		$('th#delete').attr('title', $('span#delete').data('locales'))
		$('th#edit').attr('title', $('span#edit').data('locales'))
	)	

do validate_new_task = ->
	$(document).ready(
		()-> $("div#new_tasks_form form").submit((e)=>
			dom_target = document.getElementById('new_description') 
			query_target = $("input#new_description")
			query_target_height = query_target.offset().top - query_target.outerHeight()
			if dom_target.value.match(/\S+/)
				true
			else	
				$('div#validation').css('top', "#{query_target_height}px")
									.css('left', "#{query_target.offset().left}px")
		  							.css('display','table')
				e.preventDefault 
				false	
		)
	)

do validate_email_onsignin = ->
	$(document).ready(
		()-> $("div#sessions_wrapper form").submit((e)=>
			$('.empty_email, .invalid_email').attr('style', 'display:none;')
			dom_target = document.getElementById('user_email') 
			query_target = $("input#user_email")
			if dom_target.value.match(/^\w+\.?\w+\@\w+\.\w{2,3}$/)
				true
			else	
				validation = if dom_target.value.match(/^\s*$/)
					'empty_email'
				else
					'invalid_email'	
				$("div.#{validation}").css('top', "#{query_target.offset().top + query_target.height()/5}px")
							     	.css('left', "#{query_target.offset().left - $("div.#{validation}").outerWidth()- 4}px")
		  							.css('display','table')
				e.preventDefault 
				false	
		)

	)	

do validate_password_onsignin = ->
	$(document).ready(
		()-> $("div#sessions_wrapper form").submit((e)=>
			$('.empty_password').attr('style', 'display:none;')	
			$('input#signinpass').trigger('blur')	
			dom_target = document.getElementById('signinpass') 
			query_target = $("input#signinpass")
			if dom_target.value.match(/^\s*$/) 
				$("div.empty_password").css('top', "#{query_target.offset().top + query_target.height()/5}px")
							     	.css('left', "#{query_target.offset().left - $("div.empty_password").outerWidth() - 4}px")
		  							.css('display','table')
				e.preventDefault 
				false	
			else	
				true
		)

	)	


do validate_email_onresend = ->
	$(document).ready(
		()-> $("div#resend_wrapper form").submit((e)=>
			$('.empty_email, .invalid_email').attr('style', 'display:none;')
			$('input#resend_email').trigger('blur')
			dom_target = document.getElementById('resend_email') 
			query_target = $("input#resend_email")
			if dom_target.value.match(/^\w+\.?\w+\@\w+\.\w{2,3}$/)
				true
				$.easyNotification(text: 'hi')
			else	
				validation = if dom_target.value.match(/^\s*$/)
					'empty_email'
				else
					'invalid_email'	
				$("div.#{validation}").css('top', "#{query_target.offset().top + query_target.height()/5}px")
							     	.css('left', "#{query_target.offset().left - $("div.#{validation}").outerWidth()- 4}px")
		  							.css('display','table')
				e.preventDefault 
				false	
		)

	)	

do validate_email_registration = ->
	$(document).ready(
		()-> $("div#registration_wrapper form").submit((e)=>
			$('.empty_email, .invalid_email').attr('style', 'display:none;')
			dom_target = document.getElementById('register_email') 
			query_target = $("input#register_email")
			if dom_target.value.match(/^\w+\@\w+\.\w{2,3}$/)
				true
			else	
				validation = if dom_target.value.match(/^\s*$/)
					'empty_email'
				else
					'invalid_email'	
				$("div.#{validation}").css('top', "#{query_target.offset().top + query_target.height()/5}px")
							     	.css('left', "#{query_target.offset().left - $("div.#{validation}").outerWidth()- 4}px")
		  							.css('display','table')
				e.preventDefault 
				false	
		)

	)

do validate_password_registration = ->
	$(document).ready(
		()-> $("div#registration_wrapper form").submit((e)=>
			$('.empty_password, .invalid_password').attr('style', 'display:none;')
			dom_target = document.getElementById('register_pass') 
			query_target = $("input#register_pass")
			if dom_target.value.match(/^\w{8,}\d{2,}$/)
				true
			else	
				validation = if dom_target.value.match(/^\s*$/)
					'empty_password'
				else
					'invalid_password'	
				$("div.#{validation}").css('top', "#{query_target.offset().top + query_target.height()/5}px")
							     	.css('left', "#{query_target.offset().left - $("div.#{validation}").outerWidth()- 4}px")
		  							.css('display','table')
				e.preventDefault 
				false	
		)

	)

do confirm_password_registration = ->
	$(document).ready(
		()-> $("div#registration_wrapper form").submit((e)=>
			$('#devise_validation_retype_ua, #devise_validation_retype_en, .dont_match').attr('style', 'display:none;')
			dom_target = document.getElementById('user_password_confirmation') 
			dom_target_2 = document.getElementById('register_pass') 
			query_target = $("input#user_password_confirmation")
			if dom_target.value.match(/^\s*$/)
				$("div.confirm_pass").css('top', "#{query_target.offset().top + query_target.height()/5}px")
							     	.css('left', "#{query_target.offset().left - $("div.confirm_pass").outerWidth()-4}px")
		  							.css('display','table')
				e.preventDefault 
				false
			else if dom_target_2.value isnt dom_target.value
				$("div.dont_match").css('top', "#{query_target.offset().top + query_target.height()/5}px")
						       		.css('left', "#{query_target.offset().left - $("div.dont_match").outerWidth()-4}px")
		  							.css('display','table')
				e.preventDefault 
				false 		
			else	
				true
		)

	)	

do arrows_onclick = ->
	$(document).ready(()->
		$('.jcarousel-next, .jcarousel-prev').click(()-> 
			$("input[type='checkbox']:checked").prop('checked', false)
			$("input[type='checkbox'], div.checkbox_button, div#validation").hide()
			$('th.checkbox').removeClass('headers')
			window.completed_dates = new Array
			$('div#completed_tasks_container').find("td#completed_at div").each(()-> td_text = $(this).text(); completed_dates.push(td_text))
		)
	)

do read_dates = ->
	$(document).ready(()->
		window.active_dates = new Array
		$('div#tasks_container').find("td#created_at div").each(()-> td_text = $(this).text(); active_dates.push(td_text))
	)	

do remove_class = ->
	$(document).ready(()->
		$('th.checkbox').each(()-> $(this).removeClass('headers'))
	)		
			
@show_actions = show_actions = (task_id)->
	$('.' + task_id + '_action' + ', .pipe' + task_id).show()
	
@hide_actions = hide_actions = (task_id)->
	$('.' + task_id + '_action' + ', .pipe' + task_id).hide()


@bold = bold = (obj)->
	$(obj).find('.items').css('font-weight', 'bold')

@unbold = unbold = (obj)->
	$(obj).find('.items').css('font-weight', 'lighter')


@show_header = show_header = (header_id)->
	$(header_id).removeAttr('hidden')

@hide_header = hide_header = (header_id)->
	$(header_id).attr('hidden', 'true')


@show_boxes = show_boxes = (task_id)->
	$("input[type='checkbox']").show()
	console.log $('#complete_for_checkbox').offset().top
	console.log $('.shadow').offset().top

@hide_boxes = hide_boxes = (task_id)->
	box = "input[type='checkbox']"	
	if $("#{box}:checked").length > 0 then $(box).show() else $('div.checkbox_button,' + box).hide()

@delete_items= delete_items = (obj)->
	collection = new Array
	path_injection = if $(obj).hasClass('true') then '/completed_tasks/' else '/'

	$("input:checked").each(()-> item_id = $(this).attr('id'); collection.push(item_id))	 
			
	$.ajax({
  		type: "POST",
  		url: "http://localhost:3000/todo#{path_injection}mass_destroy",
  		data: { id: collection }
		})

@complete_items = complete_items = ()->
	collection = new Array

	$("input:checked").each(()-> item_id = $(this).attr('id'); collection.push(item_id))	 
	
	$.ajax({
  		type: "POST",
  		url: "http://localhost:3000/todo/mass_complete",
  		data: { id: collection }
		})

@reopen_items = reopen_items = ()->
	collection = new Array
	
	$("input:checked").each(()-> item_id = $(this).attr('id'); collection.push(item_id))	 
	
	$.ajax({
	  	type: "POST",
	  	url: "http://localhost:3000/todo/completed_tasks/mass_reopen",
	  	data: { id: collection }
  	})


@sort_table_by = sort_table_by = (obj, flag)->
	$('.headers_container').each(()-> $(this).css('font-weight', 'lighter')
								.css('color', '#848484')
								.find('span').remove()							
	)

	if $(obj).hasClass('arrow_down')
		$(obj).append("<span class='filtered'> ⌃</span>")
		$(obj).css('font-weight', 'bold')
				.css('color', 'rgba( 34, 2, 0, 0.8)')
				.removeClass('arrow_down')

		sort_tr(obj, flag, 'asc')				
	else
		$(obj).append("<span class='unfiltered'> ⌵</span>")
		$(obj).css('font-weight', 'bold')
				.css('color', 'rgba(34, 2, 0, 0.8)')
				.addClass('arrow_down')

		
		sort_tr(obj, flag, 'desc')  	
	  		  
@sort_tr = sort_tr = (obj, flag, order)->
	collection = new Array
	subject = $(obj).attr('id')
	container = if flag is 'completed' then 'div#completed_tasks_container' else 'div#tasks_container'

	collection = if subject is 'description' 
		$(container).find("td##{subject} div").each(()-> td_text = $(this).text(); collection.push(td_text))
		collection.sort()		
	else if subject is 'priority'
		['high', 'medium', 'low']
	else if subject is 'status'
		['in progress','open']	
	else if subject is 'created_at'
		active_dates
	else if subject is 'completed_at'
		completed_dates	
	
	if order is 'asc'		
			$(container).find("td:contains('#{value}')").parent().appendTo("#{container} tbody") for value in collection
	else if order is 'desc'
			$(container).find("td:contains('#{value}')").parent().prependTo("#{container} tbody") for value in collection

@show_detailed_description = show_detailed_description = (obj)->
	$('div#in-detail-description').remove()
	$('div#tasks_container').attr('style', 'overflow-y:hidden;')
	text = $(obj).text()
	subject_height = $(obj).parent().offset().top - $(obj).parent().outerHeight(true)
	subject_left = $(obj).offset().left
	$('body').append("<div id='in-detail-description' style='top:#{subject_height}px; left:#{subject_left}px' onclick='hide_detailed_description(this)'><span>#{text}</span></div>")
	

@hide_detailed_description = hide_detailed_description = (obj)->
	$(obj).remove()
	$('div#tasks_container').attr('style', 'overflow-y:auto;')

@translate_app = translate_app = (obj)->
	flag_1 = $('img#first-flag')
	flag_2 = $('img#second-flag')
	source_1 = flag_1.attr('src')
	source_2 = flag_2.attr('src') 
	flag_1.attr('src', source_2)
	flag_2.attr('src', source_1)
	$.ajax({type: "GET", url: "http://localhost:3000/todo/global_actions/translate", data:{ flag_path: source_2 }})