//GLOBAL MIXIN
@mixin fonts($size,$weight)
	font:
		family: "Courier New", Courier, monospace
		size: $size
		weight: $weight

html	
	background: url('images/wallpaper.jpg') no-repeat center center fixed 
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

input
	@include fonts(13px,lighter)
	height: 25px
	width: 200px	
	border: 1px solid #FFFFFF
	margin-top: 10px
	padding:
		top: 5px
		bottom: 1px
		left: 5px
	float: center
	border-bottom-left-radius: 2px
	border-top-left-radius: 2px
	outline: none

input:hover
	border:
		top: 1px solid #BDBDBD
		bottom: 1px solid #BDBDBD	 
		left: 1px solid #BDBDBD	
		outline: none		

input.pick 
	width: 1em
	height: 1em
	display: none
	position: relative
	margin-left: 13px
	margin-bottom: 8px
	float: center
	border: 1px solid #2e2e2e
	background-color: #BDBDBD 
	outline: none

input.pick:hover
	cursor: pointer	
	outline: none

input#new_description
	outline: none
	border: 1px solid rgba(255, 255, 255, 0.0)	
	background: rgba(255, 255, 255, 0.7)	
	border-radius: 0px
	width: 400px

input#new_description:hover
	outline: none
	border-radius: 0px

input#new_description:focus
	border: 1px solid rgba(255, 255, 255, 0.9)	
	background: rgba(255, 255, 255, 0.9)
	outline: none

@mixin dropdown_sample
	@include fonts(13px,lighter)
	background: transparent no-repeat 60px center
	color: #848484
	background:
		image: none
		repeat: no-repeat
	border: none
	outline: none
	overflow: hidden
	-moz-appearance: none

select
	height: 20px
	width: 55px
	borderbrush: transparent
	border: 0
	padding: 0
	@include dropdown_sample	

select:hover
	border: none
	cursor: pointer

select:before
	border: none		

select#new_priority
	@include dropdown_sample
	width: 50px
	height: 30px
	margin-bottom: 0px
	background: rgba(255, 255, 255, 0.7)
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	-webkit-box-shadow: none
	-moz-box-shadow: none
	box-shadow: none 
	color: rgba(17, 17, 17, 0.8)
	font-family: arial 
	border: none
	outline: none

select#new_priority:after	
	content: ""
	width: 0
	height: 0
	position: absolute
	right: 16px
	top: 50%
	margin-top: -6px
	border-width: 6px 0 6px 6px
	border-style: solid
	border-color: transparent #fff   	


select#new_priority:focus
	border: none	
	background: rgba(255, 255, 255, 0.9)
	cursor: pointer

select#new_priority:select
	background: transparent no-repeat 60px center	


select.embedded
	@include dropdown_sample
	margin-left: 25%
	background: no-repeat 60px center
	font-family: "Courier New", Courier, monospace
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	-webkit-box-shadow: none
	-moz-box-shadow: none
	font-size: 12px
	font-weight: bold
	color: #585858
	height: auto
	width: auto
	float: left
	text-align: center	

select.embedded:after	
	content: ""
	width: 0
	height: 0
	position: absolute
	right: 16px
	top: 50%
	margin-top: 6px
	border-width: 6px 0 6px 6px
	border-style: solid
	border-color: transparent #fff	

select#elapsed_time 
	@extend select#new_priority
	width: 90px

select#elapsed_time:hover
	cursor: pointer

select#priority_set
	@extend select#elapsed_time

th.headers
	@include fonts(12.5px, lighter)
	color: rgba(17, 17, 17, 0.9)
	height: 30px
	text-shadow: rgba(17, 17, 17, 0.3) 1px 1px 1px

th.headers:hover
	color: rgba( 17, 17, 17, 0.8)
	font-weight: bold
	cursor: pointer
	background-color: rgba(255, 255, 255, 0.7)	

th.status
	width: 100px

th.description
	width: 360px

th#description_th
	width: 350px

th.priority
	width: 100px

th.created_at
	width: 170px

th.completed_at
	width: 170px	

th.checkbox
	width: 40px	


td.items
	@include fonts(12px, lighter)
	color: #585858
	text:
		align: center
		shadow: 0.5px, 0.5px, #E6E6E6	
	height: 30px
	width: 60px	

td#description div
	text-align: left
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis	
	width: 350px

tr.completed 
	background-color: #E0FFFF

tr.high, tr.висока
	background-color: #FFE5B4 

tr.medium, tr.середня
	background-color: #FFF8C6 
	
tr.low, tr.низька
	background-color: rgba(255, 255, 233, 0.8) 	

div.headers_container
	height: 30px
	width: auto
	padding-left: 20px
	text-align: center
	vertical-align: middle

div#new_tasks_form
	margin:
		top: 0px
		left: 550px
		width: 400px

div#new_tasks_form form 
	width: 540px
	margin-left: 0px		

div#tasks_container
	margin-top: 0px	
	width: 1073px
	float: left
	position: relative
	overflow: hidden	
	height: 500px


div#tasks_container:hover
	overflow: auto

div#completed_tasks_container
	@extend div#tasks_container
	width: 826px

div.box_container
	height: 30px
	width: 40px

div.shadow
	position: absolute
	top: 0px
	bottom: 0px
	left: 80px
	right: 80px
	background: rgba(255, 255, 255, 0.3)
	box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.50)
	-moz-box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.50)
	-webkit-box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.50)

div#notification_container
	margin: 10px auto
	padding: 10px 0 0 0 
	width: 250px	
	height: 25px

@mixin buttons_sample
	z-index: 10
	height: 25px
	width: 40px		
	cursor: pointer
	float: left
	margin-top: 22px
	margin-bottom: 4px
	-webkit-border-radius: 1px
	-moz-border-radius: 1px
	text-align: center
	padding-top: 5px
	display: none
	color: rgba(255, 255, 255, 0.6)
	background: rgba(17, 17, 17, 0.5)
	text-shadow: rgba(17, 17, 17, 0.955) 1px 1px 1px
	box-shadow: rgba(17, 17, 17, 0.7) 1px 1px 1px


div#complete_for_checkbox
	@include buttons_sample

div#complete_for_checkbox:hover
	background: rgba(17, 17, 17, 0.7)

div#delete_for_checkbox	
	@extend #complete_for_checkbox
	margin-left: 8px

div#reopen_for_checkbox	
	@extend #complete_for_checkbox

div#footer
	margin: 10px auto
	width: 300px 	
	text-align: center

p#copyright
	font:
		family: "Courier New", Courier, monospace
		size: 10px	
		weight: lighter
	color: rgba(17, 17, 17, 0.9)
	position: absolute
	bottom: 15px
	left: 100px

#promo
	font:
		family: purisa
		size: 12px
		weight: bold
	color: rgba(17, 17, 17, 0.9)
	position: absolute
	padding-top: 20px
	left: 35px
	right: 10px

//ADD button 
.add_me
	height: 29px
	background-color: #57C791
	width: 45px	
	color: #FFFFFF
	font:
		weight: bold
		size: 20px
		align: center	
	float: center
	padding-bottom: 26px
	border-bottom-right-radius: 2px
	border-top-right-radius: 2px
	border: 1px solid rgba(17, 17, 17, 0.3)
	text-shadow: rgba(17, 17, 17, 0.4) 1px 1px 1px
	box-shadow: rgba(17, 17, 17, 0.4) 1px 1px 1px
	outline: none

.add_me:hover
	cursor: pointer	
	border: 1px solid rgba(17, 17, 17, 0.5)

.sign-in-submit
	@extend .add_me
	width: 100px
	background: #3EBB87	
	font:
		family: arial
		weight: lighter
		size: 13px
	letter-spacing: 1px
	word-spacing: 2px
	text-align: center
	line-height: 17px
	box-shadow: none
	border-radius: 0px
	border: none
	margin-left: 207px

.sign-in-submit:hover
	background: #3EC787	
	border: none 

#resend-pass-submit
	@extend .sign-in-submit
	width: 308px
	margin-left: 0px	


.sign-in-input 
	font:
		family: arial
		weight: normal
		size: 14px
	color: rgb(17, 17, 17)
	background: rgba(255, 255, 255, 0.7)
	border: 1px solid rgba(255, 255, 255, 0.0)
	border-radius: none
	position: center
	width: 300px
	outline: none

.sign-in-input:focus
	border: 1px solid rgba(255, 255, 255, 0.9)	
	background: rgba(255, 255, 255, 0.9)
	outline: none

.sign-in-input:focus:hover
	border: 1px solid rgba(255, 255, 255, 0.9)	
	background: rgba(255, 255, 255, 0.9)
	outline: none
	

.sign-in-input:hover
	background: rgba(255, 255, 255, 0.7)
	border: 1px solid rgba(255, 255, 255, 0.0)
	outline: none
	

div#sign-in-wrapper
	float: right
	position: absolute
	top: 0px
	right: 0px
	bottom: 0px
	background: rgba(255, 255, 255, 0.5)
	width: 360px
	box-shadow: none
	margin: 0 auto
	padding: 20px 10px 20px 60px 
	font:
		family: purisa
		size: 20px
		weight: bold
	color: rgba(17, 17, 17, 0.7)	


.devise-link
	text-decoration: none
	color: rgb(17, 17, 17)
	font:
		size: 13px
		weight: normal
		family: arial
	margin-top: 10px		

.devise-link:hover
	color: #39AC71

//ICONS
span.separator 
	color: #BDBDBD
	height: 20px 
	width: 35px	

button.edit 
	color: #BDBDBD 
	height: 20px 
	width: 35px
	font:
		size: 25px
		weight: bolder
	background: transparent
	borderbrush: transparent
	border: 0 
	padding: 0

button.edit:hover 
	cursor: pointer
	color: #FF9933

.okay
	@include fonts(13px,bolder)
	color: #BDBDBD 
	background: transparent
	borderbrush: transparent
	border: 0 
	margin-top: 2px

.okay:hover
	cursor: pointer	
	color: #04B4AE 

.cancel
	@include fonts(20px,bolder)
	color: #BDBDBD
	background: transparent
	borderbrush: transparent
	border: 0 
	padding: 0

.cancel:hover
	cursor: pointer
	color: #DF3A01	

.delete 
	font:
		size: 18px
		weight: bolder
	color: #BDBDBD 
	height: 20px 
	width: 35px
	margin-top: 1px
	background: transparent
	borderbrush: transparent
	border: none 
	padding: 0

.delete:hover 
	cursor: pointer
	color: #DF3A01
	border: none

.complete
	color: #BDBDBD 
	height: 15px 
	width: 25px
	font:
		size: 17px
		weight: bolder
	padding: 3px 0 0
	text-decoration: none

.complete:hover
	cursor: pointer
	color: #04B4AE		

.reopen
	@extend .complete

#signout
	text-decoration: none	
	@include fonts(14px,bold)
	font-family: Purisa
	color: rgba(255, 255, 255, 0.6)
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px
	float: right
	margin-right: 3px

#signout:hover
	color: rgb(255, 255, 255)

//NEEDS DEBUGGING
td#completed_at
	width: 170px

td#created_at
	width: 170px

td#description
	width: 350px

td#priority
	border:
		left: 1px solid rgba(17, 17, 17, 0.2)
		right: 1px solid rgba(17, 17, 17, 0.2)	
	width: 100px

td#status
	border-right: 1px solid rgba(17, 17, 17, 0.2)	
	width: 100px

td#completed_at
	font-family: "Courier New", Courier, monospace
	text-align: left
	padding-left: 10px

td#created_at
	font-family: "Courier New", Courier, monospace
	text-align: left
	padding-left: 10px

td#description
	font-family: "Courier New", Courier, monospace
	text-align: left
	padding-left: 10px

#checkbox
	font-family: "Courier New", Courier, monospace
	text-align: left
	padding-left: 10px
	width: 90px



//SCROLL
::-webkit-scrollbar 
	width: 10px
	position: absolute

::-webkit-scrollbar-track 
	border:
		left: 1px dotted rgba(34, 2, 0, 0.1)
		right: 1px dotted rgba(34, 2, 0, 0.1)
 
::-webkit-scrollbar-thumb
	background-color: rgba( 34, 2, 0, 0.3)
	min-width: 10px

::-webkit-scrollbar-thumb:hover
	background-color: rgba( 34, 2, 0, 0.6)	

#tooltip
	position: absolute
	height: 4px
	line-height: 5px
	padding: 10px
	font-size: 9px
	font-weight: light
	font-family: arial
	text-align: center
	color: rgb(255, 255, 255)
	background: rgba(17, 17, 17, 0.6)
	border-radius: 2px
	text-shadow: rgba(0.5, 0.5, 0.5, 0.0980392) 1px 1px 1px
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px
	z-index: 10

#tooltip:after /* triangle decoration */
	width: 0
	height: 0
	content: ''
	position: absolute
	left: 50%
	bottom: -10px
	margin-left: -10px
	border-width: 5px
	border-style: solid
	border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent		
 
#tooltip.top:after
	border-top-color: transparent
	border-bottom: 10px solid #111
	top: -20px
	bottom: auto

#tooltip.left:after
	left: 10px
	margin: 0

#tooltip.right:after
	right: 10px
	left: auto
	margin: 0

#validation
	@extend #tooltip	
	background: rgba(239, 76, 62, 0.6)
	height: 7px
	padding: 8px
	font-size: 9px
	font-weight: bold
	text-align: center
	line-height: 8px
	text-shadow: rgba(0.5, 0.5, 0.5, 0.4) 1px 1px 1px
	border-radius: 4px
	z-index: 10

#validation:after
	left: 50% 
	top: 100%
	bottom: -10px
	border-width: 7px
	border-style: solid
	border-color: rgba(239, 76, 62, 0.6) transparent transparent transparent	

#devise_validation
	@extend #validation
	border-radius: 0px

#devise_validation:after
	left: 108.5% 
	top: 35%
	bottom: -10px
	border-width: 4px
	border-style: solid
	border-color: transparent transparent transparent rgba(239, 76, 62, 0.6)

#devise_validation_resend_1
	@extend #devise_validation			

#devise_validation_resend_1:after
	@extend #devise_validation:after
	left: 108% 
	top: 35%

#devise_validation_resend_2
	@extend #devise_validation	

#devise_validation_resend_2:after
	@extend #devise_validation:after
	left: 105.5% 
	top: 34%

#devise_validation_email_1
	@extend #devise_validation

#devise_validation_email_1:after
	@extend #devise_validation:after
	left: 113% 
	top: 34%		

#devise_validation_password_1
	@extend #devise_validation

#devise_validation_password_1:after
	@extend #devise_validation:after
	left: 106.5% 
	top: 34%		

#devise_validation_password_2
	@extend #devise_validation

#devise_validation_password_2:after
	@extend #devise_validation:after
	left: 102% 
	top: 34%		

#devise_validation_retype
	@extend #devise_validation

#devise_validation_retype:after
	@extend #devise_validation:after
	left: 106% 
	top: 34%		

#devise_validation_didntmatch
	@extend #devise_validation

#devise_validation_didntmatch:after
	@extend #devise_validation:after
	left: 105% 
	top: 34%

#not_found_in_database
	@extend #devise_validation
	width: 290px	
	letter-spacing: 1px
	word-spacing: 3px	
	font-size: 10px

#not_found_in_database:after
	display: none		

#in-detail-description
	position: absolute
	padding: 2px 2px 2px 2px
	max-width: 400px
	line-height: 15px
	text-align: left
	z-index: 10
	background: rgba(255, 255, 255, 0.9)
	border: 1px solid rgba(17, 17, 17, 0.2)
	box-shadow: rgba(17, 17, 17, 0.4) 1px 1px 2px 0px
	color: rgba(17, 17, 17, 0.9)
	font:
		weight: normal
		size: 12px
		family: arial

#in-detail-description::after
	left: 10% 
	top: 100%
	z-index: 10
	bottom: 150px
	content: ""
	position: absolute
	border-width: 4px
	border-style: solid
	border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent			

#close_description
	float: right
	color: rgba(17, 17, 17, 0.7)
	font:
		size: 14px
		weight: lighter
		family: arial

#close_description:hover
	cursor: pointer

div#easyNotification
	background: rgba(17, 17, 17, 0.5)
	font-family: "Courier New", Courier, monospace
	font-weight: light
	font-size: 12px
	color: rgba(255, 255, 255, 0.9)
	text-shadow: rgba(17, 17, 17, 0.4) 1px 1px 1px
	width: auto
	height: 17px
	margin: 0 auto
	vertical-align: center
	text-align: center
	padding: 3px 0 0 25px
	letter-spacing: 2px
	word-spacing: 5px
	border: 1px solid rgba(255, 255, 255, 0.8)

span.close
	margin: 0 0 5px 30px
	color: rgb(255, 255, 255)
	font-size: bold

span.close:hover
	cursor: pointer		

div#errorMessanger
	width: 500px
	font-size: 11px
	background: rgba(239, 76, 62, 0.6)
	height: 7px
	padding: 8px 0 8px 0
	font-weight: normal
	font-family: arial
	text-align: center	
	line-height: 8px
	text-shadow: rgba(0.5, 0.5, 0.5, 0.3) 1px 1px 1px
	z-index: 10
	color: rgba(17, 17, 17, 0.7)

span.close_errorMessanger
	margin: 0 0 5px 30px
	color: rgba(17, 17, 17, 0.4)
	font-size: normal

span.close_errorMessanger:hover
	cursor: pointer		


ul#main-ul
	text-align: center
	float: center
	display: inline
	list-style: none
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)

ul#main-ul li#main-li 
	font: normal 15px arial
	display: inline-block
	width: 40px
	height: 28px
	padding-top: 4px
	position: absolute
	background: rgba(17,17,17,0.3)
	cursor: pointer
	-webkit-transition: all 0.5s
	-moz-transition: all 0.2s
	-ms-transition: all 0.2s
	-o-transition: all 0.2s
	transition: all 0.2s

ul#main-ul li#main-li:hover 
	background: rgba(17,17,17,0.8)

ul#main-ul li#main-li ul#secondary-ul 
	padding: 0
	position: relative
	left: 0
	top: 1px
	width: 40px
	-webkit-box-shadow: none
	-moz-box-shadow: none
	box-shadow: none
	display: none
	opacity: 0
	visibility: hidden
	-webkit-transiton: opacity 0.2s
	-moz-transition: opacity 0.2s
	-ms-transition: opacity 0.2s
	-o-transition: opacity 0.2s
	-transition: opacity 0.2s

ul#main-ul li#main-li  ul#secondary-ul li.secondary-li  
	background: rgba(17, 17, 17, 0.3)
	height: 28px
	padding-top: 4px
	display: block 
	font: normal 15px arial

ul#main-ul li#main-li  ul#secondary-ul li.secondary-li:hover  
	background: rgba(17, 17, 17, 0.8) 

ul#main-ul li#main-li:hover ul#secondary-ul  
	display: block
	opacity: 1
	visibility: visible

span#current_user	
	@include fonts(14px,bold)
	font-family: Purisa
	color: rgba(17, 17, 17, 0.7)
	text-shadow: rgba(17, 17, 17, 0.5) 1px 1px 1px
	float: left	