@charset "UTF-8";
body {
  background: url("images/retina_dust.png");
  paddong-bottom: 5px; }

input {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: lighter;
  height: 25px;
  width: 200px;
  border: 1px solid white;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  float: center;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

input:hover {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd; }

input.pick {
  width: 1em;
  height: 1em;
  display: none;
  position: relative;
  margin-left: 13px;
  margin-bottom: 8px;
  float: center;
  border: 1px solid #2e2e2e;
  background-color: #bdbdbd; }

input.pick:hover {
  cursor: pointer; }

select {
  height: 20px;
  width: 55px;
  borderbrush: transparent;
  border: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: lighter;
  background: transparent no-repeat 60px center;
  color: #848484;
  background-image: none;
  background-repeat: no-repeat;
  text-align: justify;
  float: center;
  margin-top: 10px;
  overflow: hidden;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "⌄"; }

select#new_priority, select#elapsed_time, select#priority_set {
  width: 20px;
  height: 30px;
  border: 1px solid white;
  padding-top: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: lighter;
  background: transparent no-repeat 60px center;
  color: #848484;
  background-image: none;
  background-repeat: no-repeat;
  text-align: justify;
  float: center;
  margin-top: 10px;
  overflow: hidden;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "⌄"; }

select#new_priority:focus, select#elapsed_time:focus, select#priority_set:focus {
  border: 1px solid #eeeaea;
  cursor: pointer; }

select#new_priority:select, select#elapsed_time:select, select#priority_set:select {
  background: transparent no-repeat 60px center; }

select#elapsed_time, select#priority_set {
  width: 90px; }

select#elapsed_time:hover, select#priority_set:hover {
  cursor: pointer; }

th.headers {
  font-family: "Courier New", Courier, monospace;
  font-size: 12.5px;
  font-weight: lighter;
  color: rgba(17, 17, 17, 0.9);
  text-align: center;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: rgba(17, 17, 17, 0.3) 1px 1px 1px; }

th.headers:hover {
  color: rgba(17, 17, 17, 0.8);
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7); }

th.status {
  width: 100px; }

th.description {
  width: 200px; }

th.priority {
  width: 100px; }

th.created_at {
  width: 170px; }

th.completed_at {
  width: 170px; }

th.checkbox {
  width: 40px; }

td.items {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  color: #585858;
  text-align: center;
  text-shadow: 0.5px, 0.5px, #e6e6e6;
  height: 30px;
  width: 60px; }

tr.completed {
  background-color: lightcyan; }

tr.high {
  background-color: #ffe5b4; }

tr.medium {
  background-color: #fff8c6; }

tr.low {
  background-color: #ffffe9; }

div.headers_container {
  height: 30px;
  text-align: center;
  vertical-align: middle; }

div#new_tasks_form {
  margin-top: 5px;
  margin-left: 620px;
  margin-width: 150px; }

div#tasks_container, div#completed_tasks_container {
  margin-top: 0px;
  width: 913px;
  float: left;
  position: relative;
  overflow: hidden;
  height: 350px; }

div#tasks_container:hover, div#completed_tasks_container:hover {
  overflow: auto; }

div#completed_tasks_container {
  width: 665px; }

div.box_container {
  height: 30px;
  width: 40px; }

div.shadow {
  position: relative;
  height: 500px;
  width: 980px;
  margin-left: 50px;
  background: url("images/little_pluses.png");
  box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.5);
  -moz-box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.5);
  -webkit-box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.5);
  margin: 70px auto; }

div#notification_container {
  margin: 0 auto;
  padding: 10px 0 0 0;
  width: 500px;
  height: 25px; }

div#complete_for_checkbox, div#delete_for_checkbox, div#reopen_for_checkbox {
  height: 25px;
  width: 40px;
  cursor: pointer;
  float: left;
  margin-top: 18px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  text-align: center;
  padding-top: 5px;
  display: none;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(17, 17, 17, 0.5);
  text-shadow: rgba(17, 17, 17, 0.955) 1px 1px 1px;
  box-shadow: rgba(17, 17, 17, 0.7) 1px 1px 1px; }

div#complete_for_checkbox:hover, div#delete_for_checkbox:hover, div#reopen_for_checkbox:hover {
  background: rgba(17, 17, 17, 0.7); }

div#delete_for_checkbox {
  margin-left: 8px; }

div#footer {
  margin: 10px auto;
  width: 300px;
  text-align: center; }

p#copyright {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  color: #848484; }

.add_me {
  height: 29px;
  background-color: #57c791;
  width: 45px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-align: center;
  float: center;
  padding-bottom: 26px;
  border: 1.7px solid #ef4c3e;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid rgba(17, 17, 17, 0.3);
  text-shadow: rgba(17, 17, 17, 0.4) 1px 1px 1px;
  box-shadow: rgba(17, 17, 17, 0.4) 1px 1px 1px; }

.add_me:hover {
  cursor: pointer;
  border: 1px solid rgba(17, 17, 17, 0.5); }

span.separator {
  color: #bdbdbd;
  height: 20px;
  width: 35px; }

button.edit {
  color: #bdbdbd;
  height: 20px;
  width: 35px;
  font-size: 25px;
  font-weight: bolder;
  background: transparent;
  borderbrush: transparent;
  border: 0;
  padding: 0; }

button.edit:hover {
  cursor: pointer;
  color: #ff9933; }

.okay {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: bolder;
  color: #bdbdbd;
  background: transparent;
  borderbrush: transparent;
  border: 0;
  margin-top: 2px; }

.okay:hover {
  cursor: pointer;
  color: #04b4ae; }

.cancel {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  color: #bdbdbd;
  background: transparent;
  borderbrush: transparent;
  border: 0;
  padding: 0; }

.cancel:hover {
  cursor: pointer;
  color: #df3a01; }

.delete {
  font-size: 18px;
  font-weight: bolder;
  color: #bdbdbd;
  height: 20px;
  width: 35px;
  margin-top: 1px;
  background: transparent;
  borderbrush: transparent;
  border: none;
  padding: 0; }

.delete:hover {
  cursor: pointer;
  color: #df3a01;
  border: none; }

.complete, .reopen {
  color: #bdbdbd;
  height: 15px;
  width: 25px;
  font-size: 17px;
  font-weight: bolder;
  padding: 3px 0 0;
  text-decoration: none; }

.complete:hover, .reopen:hover {
  cursor: pointer;
  color: #04b4ae; }

#signout {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: bold;
  color: rgba(239, 76, 62, 0.8);
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  float: right; }

#signout:hover {
  color: rgba(17, 17, 17, 0.6); }

#completed_at {
  width: 170px; }

#created_at {
  width: 170px; }

#description {
  width: 190px; }

#priority {
  border-left: 1.7px dotted #848484;
  border-right: 1.7px dotted #848484;
  width: 100px; }

#status {
  border-right: 1.7px dotted #848484;
  width: 100px; }

#completed_at {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-left: 10px; }

#created_at {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-left: 10px; }

#description {
  font-family: "Courier New", Courier, monospace;
  text-alin: left;
  padding-left: 10px; }

#checkbox {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-left: 10px;
  width: 90px; }

::-webkit-scrollbar {
  width: 10px;
  position: absolute; }

::-webkit-scrollbar-track {
  border-left: 1px dotted rgba(34, 2, 0, 0.1);
  border-right: 1px dotted rgba(34, 2, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background-color: rgba(34, 2, 0, 0.3);
  min-width: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(34, 2, 0, 0.6); }

#tooltip, #validation {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10; }

#tooltip:after, #validation:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent; }

#tooltip.top:after, .top#validation:after {
  border-top-color: transparent;
  border-bottom: 10px solid #111111;
  top: -20px;
  bottom: auto; }

#tooltip.left:after, .left#validation:after {
  left: 10px;
  margin: 0; }

#tooltip.right:after, .right#validation:after {
  right: 10px;
  left: auto;
  margin: 0; }

#validation {
  background: rgba(239, 76, 62, 0.6);
  height: 7px;
  padding: 8px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  line-height: 8px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  border-radius: 4px;
  z-index: 10; }

#validation:after {
  left: 50%;
  top: 100%;
  bottom: -10px;
  border-width: 7px;
  border-style: solid;
  border-color: rgba(239, 76, 62, 0.6) transparent transparent transparent; }

div#easyNotification {
  background: rgba(17, 17, 17, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-weight: light;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: rgba(17, 17, 17, 0.4) 1px 1px 1px;
  width: 180px;
  height: 17px;
  margin: 0 auto;
  vertical-align: center;
  text-align: center;
  padding: 3px 0 0 25px;
  letter-spacing: 2px;
  word-spacing: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8); }

span.close {
  margin: 0 0 5px 30px;
  color: white;
  font-size: bold; }

span.close:hover {
  cursor: pointer; }

div#errorMessanger {
  width: 500px;
  font-size: 11px;
  background: rgba(239, 76, 62, 0.6);
  height: 7px;
  padding: 8px 0 8px 0;
  font-weight: normal;
  font-family: arial;
  text-align: center;
  line-height: 8px;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  z-index: 10;
  color: rgba(17, 17, 17, 0.7); }

span.close_errorMessanger {
  margin: 0 0 5px 30px;
  color: rgba(17, 17, 17, 0.4);
  font-size: normal; }

span.close_errorMessanger:hover {
  cursor: pointer; }
