@charset "UTF-8";
body {
  background: url("images/retina_dust.png");
  paddong-bottom: 5px; }

input {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: lighter;
  height: 25px;
  width: 200px;
  border: 1px solid white;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  float: center;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

input:hover {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd; }

input.pick {
  width: 1em;
  height: 1em;
  display: none;
  position: relative;
  margin-left: 13px;
  margin-bottom: 8px;
  float: center;
  border: 1px solid #2e2e2e;
  background-color: #bdbdbd; }

input.pick:hover {
  cursor: pointer; }

select {
  height: 20px;
  width: 55px;
  borderbrush: transparent;
  border: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: lighter;
  background: transparent no-repeat 60px center;
  color: #848484;
  background-image: none;
  background-repeat: no-repeat;
  text-align: justify;
  float: center;
  margin-top: 10px;
  overflow: hidden;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "⌄"; }

select#new_priority, select#elapsed_time, select#priority_set {
  width: 20px;
  height: 30px;
  border: 1px solid white;
  padding-top: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: lighter;
  background: transparent no-repeat 60px center;
  color: #848484;
  background-image: none;
  background-repeat: no-repeat;
  text-align: justify;
  float: center;
  margin-top: 10px;
  overflow: hidden;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "⌄"; }

select#new_priority:focus, select#elapsed_time:focus, select#priority_set:focus {
  border: 1px solid #eeeaea;
  cursor: pointer; }

select#new_priority:select, select#elapsed_time:select, select#priority_set:select {
  background: transparent no-repeat 60px center; }

select#elapsed_time, select#priority_set {
  width: 90px; }

select#elapsed_time:hover, select#priority_set:hover {
  cursor: pointer; }

th.headers {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  color: #848484;
  text-align: center;
  height: 30px;
  background-color: #e7e9d3; }

th.headers:hover {
  color: rgba(34, 2, 0, 0.8);
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(231, 233, 211, 0.5); }

th.status {
  width: 100px; }

th.description {
  width: 200px; }

th.priority {
  width: 100px; }

th.created_at {
  width: 170px; }

th.completed_at {
  width: 170px; }

th.checkbox {
  width: 40px; }

td.items {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  color: #585858;
  text-align: center;
  text-shadow: 0.5px, 0.5px, #e6e6e6;
  height: 30px;
  width: 60px; }

tr.completed {
  background-color: lightcyan; }

tr.high {
  background-color: #ffe5b4; }

tr.medium {
  background-color: #fff8c6; }

tr.low {
  background-color: #ffffe9; }

div.headers_container {
  height: 30px;
  text-align: center;
  vertical-align: middle; }

div#new_tasks_form {
  margin-top: 5px;
  margin-left: 620px;
  margin-width: 150px; }

div#tasks_container, div#completed_tasks_container {
  margin-top: 0px;
  width: 913px;
  float: left;
  position: relative;
  overflow: hidden;
  height: 350px; }

div#tasks_container:hover, div#completed_tasks_container:hover {
  overflow: auto; }

div#completed_tasks_container {
  width: 665px; }

div.box_container {
  height: 30px;
  width: 40px; }

div.shadow {
  position: relative;
  height: 500px;
  width: 980px;
  margin-left: 50px;
  background: url("images/little_pluses.png");
  box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.5);
  -moz-box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.5);
  -webkit-box-shadow: 0px 0px 12px 4px rgba(34, 2, 0, 0.5);
  margin: 70px auto; }

div#complete_for_checkbox {
  height: 25px;
  width: 50px;
  cursor: pointer;
  float: left;
  margin-top: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  padding-top: 5px;
  display: inline;
  background-color: #bfe9be;
  border: 1px solid #bfe9be;
  color: #04b4ae;
  display: none; }

div#complete_for_checkbox:hover {
  border: 1px solid #92f184; }

div#delete_for_checkbox {
  height: 25px;
  width: 50px;
  cursor: pointer;
  float: left;
  margin-top: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  padding-top: 5px;
  display: inline;
  background-color: #f39ba8;
  border: 1px solid #f39ba8;
  color: #df3a01;
  display: none;
  margin-left: 8px; }

div#delete_for_checkbox:hover {
  border: 1px solid #ee7872; }

div#footer {
  margin: 10px auto;
  width: 300px;
  text-align: center; }

p#copyright {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  color: #848484; }

.add_me {
  height: 29px;
  background-color: #ef4c3e;
  width: 45px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-align: center;
  float: center;
  padding-bottom: 26px;
  border: 1.7px solid #ef4c3e;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; }

.add_me:hover {
  cursor: pointer;
  border: 1.7px solid #c53e32; }

span.separator {
  color: #bdbdbd;
  height: 20px;
  width: 35px; }

button.edit {
  color: #bdbdbd;
  height: 20px;
  width: 35px;
  font-size: 25px;
  font-weight: bolder;
  background: transparent;
  borderbrush: transparent;
  border: 0;
  padding: 0; }

button.edit:hover {
  cursor: pointer;
  color: #ff9933; }

.okay {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: bolder;
  color: #bdbdbd;
  background: transparent;
  borderbrush: transparent;
  border: 0;
  margin-top: 2px; }

.okay:hover {
  cursor: pointer;
  color: #04b4ae; }

.cancel {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  color: #bdbdbd;
  background: transparent;
  borderbrush: transparent;
  border: 0;
  padding: 0; }

.cancel:hover {
  cursor: pointer;
  color: #df3a01; }

.delete {
  font-size: 18px;
  font-weight: bolder;
  color: #bdbdbd;
  height: 20px;
  width: 35px;
  margin-top: 1px;
  background: transparent;
  borderbrush: transparent;
  border: none;
  padding: 0; }

.delete:hover {
  cursor: pointer;
  color: #df3a01;
  border: none; }

.complete, .reopen {
  color: #bdbdbd;
  height: 15px;
  width: 25px;
  font-size: 17px;
  font-weight: bolder;
  padding: 3px 0 0;
  text-decoration: none; }

.complete:hover, .reopen:hover {
  cursor: pointer;
  color: #04b4ae; }

#completed_at {
  width: 170px; }

#created_at {
  width: 170px; }

#description {
  width: 190px; }

#priority {
  border-left: 1.7px dotted #848484;
  border-right: 1.7px dotted #848484;
  width: 100px; }

#status {
  border-right: 1.7px dotted #848484;
  width: 100px; }

#completed_at {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-left: 10px; }

#created_at {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-left: 10px; }

#description {
  font-family: "Courier New", Courier, monospace;
  text-alin: left;
  padding-left: 10px; }

#checkbox {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-left: 10px;
  width: 90px; }

::-webkit-scrollbar {
  width: 10px;
  position: absolute; }

::-webkit-scrollbar-track {
  border-left: 1px dotted rgba(34, 2, 0, 0.1);
  border-right: 1px dotted rgba(34, 2, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background-color: rgba(34, 2, 0, 0.3);
  min-width: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(34, 2, 0, 0.6); }

span.tooltip_1 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 177px 723px;
  width: 40px; }

span.tooltip_1:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 24px;
  left: 40px;
  border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent; }

span.tooltip_2 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 177px 820px;
  width: 30px; }

span.tooltip_2:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 24px;
  left: 24px;
  border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent; }

span.tooltip_3 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 174px 1000px;
  width: 25px; }

span.tooltip_3:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 24px;
  left: 24px;
  border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent; }

span.tooltip_4 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 100px 500px;
  width: 70px; }

span.tooltip_4:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 8px;
  left: -10px;
  border-color: transparent rgba(17, 17, 17, 0.7) transparent transparent; }

span.tooltip_5 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 100px 600px;
  width: 60px; }

span.tooltip_5:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 8px;
  left: 80px;
  border-color: transparent transparent transparent rgba(17, 17, 17, 0.7); }

span.tooltip_6 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 100px 800px;
  width: 50px; }

span.tooltip_6:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 8px;
  left: -10px;
  border-color: transparent rgba(17, 17, 17, 0.7) transparent transparent; }

span.tooltip_7 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 100px 900px;
  width: 60px; }

span.tooltip_7:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 8px;
  left: 80px;
  border-color: transparent transparent transparent rgba(17, 17, 17, 0.7); }

span.tooltip_8 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 100px 200px;
  width: 45px; }

span.tooltip_8:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 8px;
  left: 65px;
  border-color: transparent transparent transparent rgba(17, 17, 17, 0.7); }

span.tooltip_9 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 0 320px;
  width: 60px; }

span.tooltip_9:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 24px;
  left: 40px;
  border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent; }

span.tooltip_10 {
  position: absolute;
  height: 4px;
  line-height: 5px;
  padding: 10px;
  font-size: 9px;
  font-weight: light;
  font-family: arial;
  text-align: center;
  color: white;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 2px 0px;
  z-index: 10;
  margin: 174px 903px;
  width: 20px; }

span.tooltip_10:after {
  content: "";
  position: absolute;
  margin-top: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  z-index: 10;
  top: 24px;
  left: 24px;
  border-color: rgba(17, 17, 17, 0.7) transparent transparent transparent; }
