<td><%= button_to 'Delete', "/todo/active_tasks/#{@task.id}", method: :delete, class: "delete #{@task.id}_action",style: 'display: none;',remote: true %></td>
<td><%= link_to 'Complete', complete_todo_active_task_path(@task.id), method: :put, class: "complete #{@task.id}_action",style: 'display: none;', remote: true %></td>
<%#<td><%= link_to 'Update', {action: '#'}%>
