<div>
<%= form_for(:new, url: {action: 'create'}, :remote=> true) do |f| %>
<%= f.text_field :description, placeholder: 'Your new task here...' %>
<%= select(:new, :priority, @priorities.collect{|p| p.id2name }) %>
<%=submit_tag '+', id: 'add_me', class: 'add_me'%>
<%end%>
</div>