<button id='<%= @dropdown%>' style='display:none;'
onclick="
var cancel_id, drop_text, injection;
injection = $(this).attr('id') + '_span'
description_id = 'description' + injection;
priority_id = 'priority'+ injection;
status_id = 'status' + injection;
desc_text = document.getElementById(description_id).textContent;
drop_text_1 = document.getElementById(priority_id).textContent;
drop_text_2 = document.getElementById(status_id).textContent;
$('div#description<%=@task.id.to_s%>').attr('contenteditable','false');
$('div#description<%=@task.id.to_s%>').replaceWith('<div>'+desc_text+'</div>');
$('select').slice(1,2).replaceWith('<div>'+drop_text_1+'</div>');
$('select').slice(1,2).replaceWith('<div>'+drop_text_2+'</div>');
$(this).hide();" 
>Cancel</button>