<%= render 'new', locals: {:priority => @priority}%>
<div>
<table>
<%@tasks.each do |task|%>
<tr class='task-items'>
<% %w{description priority status created_at}.each do |attr|%>
<td><%= task.send attr %></td>
<%end%>
</tr>
<%end%>
</table>

</div>