<div><span>Hello <%= @resource.email %>!</span><br><br>
<span> To change your password, follow the link below:</span><br>
<span><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></span><br>
<span>Note that your password won't change until you access the link above and create a new one</span>
<br><span>Have a nice day!</span>
</div>


