<div style='color:rgba(17,17,17,0.8);font-family: purisa;font-weight:bold;background:rgba(62,187,135,0.3);box-shadow: rgba(17, 17, 17, 0.5) 1px 1px 1px;'><span>Hello <%= @resource.email %>!</span>
<br>
<span> To change your password, follow the link:</span>
<span><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></span><br>
<span>Note that your password won't change until you access the link above and create a new one.</span>
<br><span>Have a nice day!</span>
</div>


