<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag "application", "jsor-jcarousel-247c651/skins/tango/skin" %> <%#cache:all to make all css fetched a sa single file %>
  <%= javascript_include_tag 'application', 'jsor-jcarousel-247c651/lib/jquery-1.9.1.min','jsor-jcarousel-247c651/lib/jquery.jcarousel.min' %> <%#cache:all to make all js fetched a sa single file %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='global_header'></header>
<%= yield %>

<div id="footer">
  <p id="copyright">&copy Nina Moskalyk</p>
</div>
</body>
</html>