<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag "application" %> 
  <%#cache:all to make all css fetched a sa single file %>
  <%= javascript_include_tag 'application', 'jcarousel-plugin/lib/jquery-1.9.1.min','jcarousel-plugin/lib/jquery.jcarousel.min', 'stupid_sorter/stupidtable', 'tooltip', 'easy.notification'%> <%#cache:all to make all js fetched a sa single file %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='global_header'>
</header>
<%= yield %>
<div id="footer">
  <p id="copyright">&copy Nina Moskalyk - August..October 2013</p>
</div>
</body>
</html>